<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    
    <library id="A">
        <folder dir="/classA/bin/"/>
    </library>
    
    <library id="B">
        <folder dir="/classB/bin"/>
    </library>
    <fileset id="fsa" dir="${server.config.dir}/resources/" includes="A.jar"/>
    <fileset id="fsb" dir="${server.config.dir}/resources/" includes="B.jar"/>
    <library id="mixed" filesetRef="fsa,fsb"/>
   
    <applicationMonitor updateTrigger="mbean"/>
    <webApplication id="classloader" location="classloader.war" name="classloader">
    	<!--  
    	<classloader privateLibraryRef="A"/>-->
    	<classloader commonLibraryRef="B, global"/> 
		<!-- <classloader commonLibraryRef="mixed"/>  -->
    </webApplication>
 </server>
